@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Define color variables */
        --color-background: 42 52% 95%; /* #FAF5EC */
        --color-foreground: 20 14.3% 4.1%; /* #2d2d2d */
        --color-card: 0 0% 100%; /* #ffffff */
        --color-card-foreground: 20 14.3% 4.1%; /* #2d2d2d */
        --color-popover: 0 0% 100%; /* #ffffff */
        --color-popover-foreground: 20 14.3% 4.1%; /* #2d2d2d */
        --color-primary: 24.6 95% 53.1%; /* #ff8c00 */
        --color-primary-foreground: 26 30% 62%; /* #BC9B82 */
        --color-secondary: 60 4.8% 95.9%; /* #f2f2f2 */
        --color-secondary-foreground: 15 56% 24%; /* #602C1B */
        --color-muted: 28 18% 74%; /* #C9BCB1 */
        --color-muted-foreground: 38 77% 29%; /* #835911 */
        --color-accent: 60 4.8% 95.9%; /* #f2f2f2 */
        --color-accent-foreground: 24 9.8% 10%; /* #3d3d3d */
        --color-destructive: 0 84.2% 60.2%; /* #ff3333 */
        --color-destructive-foreground: 60 9.1% 97.8%; /* #f5f5f5 */
        --color-border: 21 26% 80%; /* #DAC9C0 */
        --color-input: 20 5.9% 90%; /* #e6e6e6 */
        --color-ring: 24.6 95% 53.1%; /* #ff8c00 */
        --color-chart-1: 12 76% 61%; /* #ffb347 */
        --color-skeleton: 27 33% 88%; /* #EBE0D7 */

        /* Use color variables */
        --background: var(--color-background);
        --foreground: var(--color-foreground);
        --card: var(--color-card);
        --card-foreground: var(--color-card-foreground);
        --popover: var(--color-popover);
        --popover-foreground: var(--color-popover-foreground);
        --primary: var(--color-primary);
        --primary-foreground: var(--color-primary-foreground);
        --secondary: var(--color-secondary);
        --secondary-foreground: var(--color-secondary-foreground);
        --muted: var(--color-muted);
        --muted-foreground: var(--color-muted-foreground);
        --accent: var(--color-accent);
        --accent-foreground: var(--color-accent-foreground);
        --destructive: var(--color-destructive);
        --destructive-foreground: var(--color-destructive-foreground);
        --border: var(--color-border);
        --input: var(--color-input);
        --ring: var(--color-ring);
        --shadow-light: 0 1px 2px 0 #ead7c1;
        --shadow-heavy: 0 4px 8px 0 #ead7c1;
        --shadow-dropdown: 0 2px 12px 0 #ead7c1;
        --chart-1: var(--color-chart-1);
        --radius: 0.5rem;
    }
}
@layer base {
    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
